/* GENERAL STYLE FOR THE WEBSITE */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
	background: #DAE0EA;
  color: #7A7C87;
  font-family: 'Roboto Mono', monospace, Helvetica;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.2em;
  margin: 0;
}

h2, h3 {
  font-family: 'Fira Code';
  font-size: 1.5em;
  margin: 0;
}

h4 {
  font-size: 1.2em;
}

.black {
  color: black;
}

.clearfix {
  clear: both;
}


/* HEADER SECTION STYLE */
header{
  padding: 10px 20px;
  background: #F6F8FA;
  position: fixed;
  top: 0;
  width: 100%;
}

.search {
  float: right;
  padding: 8px;
  margin-right: 15px;
  font-size: 1.3em;
  position: absolute;
  top: 0;
  right: 0;
}

.search input[type=text]{
  height: 40px;
  color: #3F4145;
  padding: 10px;
  width: 30vw;
}

.search button {
  background: #8478E2;
  color: #3F4145;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 7px;
  border: none;
  float: right;
}

/* ASIDE SECTION STYLE */
aside {
  margin-top: 60px;
  background: #F6F8FA;
  width: 25vw;
  height: 100vh;
  float: left;
  border-top: 2px solid #3F4145;
  position: fixed;
}

aside a {
  display: block;
  background: #8478E2;
  color: black;
  padding: 16px;
  font-size: 1.3em;
  text-decoration: none;
  border-bottom: 2px solid #3F4145;
}

aside a.active {
  background-color: #F6F8FA;
  color: #8478E2;
}

aside a:hover:not(.active) {
  background-color: #555;
  color: white;
}


/* DASHBOARD SECTION STYLE */
.dashboard {
  margin-top: 70px;
  width: 75vw;
  float: right;
  padding-left: 15px;
}

/* SECTION STYLE FOR loginMain class IN admin_main.html */
.loginMain {
  position: relative;
  margin: 150px auto;
  width: 50vw;
  height: 60vh;
  background: #8478E2;
  color: white;
  border-radius: 20px;
}

.login {
  position: absolute;
  margin: 20px;
  float: left;
}
.login label {
  display: inline-block;
  width: 100%;
}

.login input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: #F6F8FA;
}

.login input[type=text]:focus,input[type=email]:focus, input[type=password]:focus {
  outline: none;
}

hr {
  border: 1px solid #F6F8FA;
  margin-bottom: 25px;
}

.login button {
  background: #3F4145;
  color: #8478E2;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.5;
}

button:hover {
  opacity:1;
}

p a{
  text-decoration: none;
  cursor: pointer;
  color: #3F4145;
}

.error {
  color: red;
  margin-bottom: 15px;
}


/* FOOTER SECTION STYLE */
footer{
  padding: 10px 20px;
  background: #F6F8FA;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer span {
  float: right;
}

footer span a{
  text-decoration: none;
  cursor: pointer;
  color: #8478E2;
}
