/* GENERAL STYLE FOR THE WEBSITE */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
	background: #8478E2;
  font-family: 'Roboto Mono', monospace, Helvetica;
  color: #3F4145;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  margin: 0;
  font-size: 1.5em;
}

h2, h3 {
  font-family: 'Fira Code';
  font-size: 1.2em;
}

.clearfix {
  clear: both;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #8478E2;
}

/* MAIN SECTION STYLE */
main {
  position: relative;
  margin: 30px auto;
  width: 95%;
  height: 100vh;
  background: white;
  border-radius: 10px;
}


/* HEADER SECTION STYLE */
header{
  padding: 10px 20px;
  border-bottom: 1px solid #A8A4C9
}


/* CONTENT SECTION STYLE */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.fa-search {
  position: absolute;
  padding: 15px;
  font-size: 1.5em;
  color: grey;
  font-weight: lighter;
}

.content input[type=text]{
  width: 100%;
  height: 50px;
  font-size: 1.3em;
  border: 2px solid #A8A4C9;
  text-indent: 45px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: grey;
}

.content input:focus{
  outline: none;
}

.content button {
  margin: 0 auto;
  background: #8478E2;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.3em;
}

button:hover {
  opacity: 0.7;
}


/* TABLE STYLE */
table {
  width: 80%;
  border-collapse: collapse;
}

table th {
  background: #8478E2;
}
table td{
  background: #3F4145;
}

table td, th {
  border: 1px solid black;
  padding: 10px;
  color:  white;
  text-align: left;
}


/* FOOTER SECTION STYLE */
footer {
  padding: 0 20px;
  border-top: 1px solid #A8A4C9;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer span {
  float: right;
}

footer span a{
  text-decoration: none;
  cursor: pointer;
  color: #8478E2;
}

/* TABLET / DESKTOP STYLE */
@media screen and (min-width: 768px) {
  h1 {
  font-size: 2.2em;
  }

  h2, h3 {
    font-size: 1.5em;
  }

  main {
    margin: 50px auto;
    width: 90%;
    height: 90vh;
  }

  .content {
    width: 70%;
  }

  table {
    width: 100%;
  }

}
