<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DrugInfoSys</title>
    <meta name="description" content="Drug Information System, drugs, information system">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Fira+Code:500|Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/65a82e1708.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
  </head>
  <body>
    <!-- MAIN SECTION -->
    <main>
      <!-- HEADER SECTION -->
      <header>
        <h1><img src="/static/images/favicon32.png" alt="logo"> DrugInfoSys</h1>
      </header> <!-- END OF HEADER SECTION -->

      <!-- SEARCH SECTION -->
      <section class="content">
            <h2>Information at your finger tips</h2>
            <i class="fas fa-search"></i>
            <input type="text" name="search" placeholder="Search..." />
            <button type="button">Search</button>
      </section> <!-- END OF SEARCH SECTION -->

      <!-- FOOTER SECTION -->
      <footer>
        <h3>DrugInfoSys @ 2020. <span><a href="#">About</a></span> </h3>
      </footer> <!-- END OF FOOTER SECTION -->

    <div class="clearfix"> </div>
    </main> <!-- END OF MAIN SECTION -->
  </body>
</html>
